/* ******************************************* */
/* **************** Imports ****************** */
/* ******************************************* */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@600&family=Roboto&display=swap');

/* ******************************************* */
/* ************ General Formating ************ */
/* ******************************************* */

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

:root {
    --pri1: #57bdaa;
    --pri2: #3c8474;
    --sec1: #F3ef05;
    --sec2: #14342c;
    --ter1: #b4b4b4;
    --ter2: #0c1c14;
}

/* ******************************************* */
/* ****************** Header ***************** */
/* ******************************************* */

.banner {
    width: 100%;
    max-width: 1520px;
    min-width: 320px;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.7));
    background-position: center;
    background-size: cover;
}

.video-bg {
    height: 100vh;   
}

.video-banner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.principal-nav {
    width: 100%;
    height: 80px;
    max-width: 1520px;
    min-width: 320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;   
    position:fixed;
    background-color: rgb(0,0,0);
    z-index: 1;
}

.banner-logo {
    cursor: pointer; 
}

@media screen and (max-width: 576px){
    .banner-logo {
        width: 65%; 
    }
}

.principal-nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
}

@media screen and (max-width: 768px){
    .principal-nav-list {
        display: flex;
        flex-direction: column;
        background-color: var(--pri1);
        justify-content: space-around;
        align-items: start;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -250px;
        width: 130px;
    }
}

.principal-nav-item {
    margin-top: 15px;
}

.principal-nav-item::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    margin: 5px auto;
    background-color: transparent;
    transition: 0.3s;
}
.principal-nav-item:hover::after {
    width: 100%;
    background-color: var(--sec1);
}

@media screen and (max-width: 768px){
    .principal-nav-item:hover::after {
        background-color: #fff;
    }
}

.link-principal-nav {
    text-decoration: none;
    color: #fff;   
    padding: 0 15px;
}

.link-principal-nav:hover {
    color: #fff;
}

.content-header {
    color: #ffffff;
    width: 100%;
    height: 720px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

@media screen and (max-width: 768px){
    .content-header {
        padding-top: 50px;
    }
}

.title-header {
    font-size: 64px;
    font-family: 'Newsreader', serif;
    line-height: 100px;
    height: 100px;
    text-align: left;
    display: flex;
}

@media screen and (max-width: 768px){
    .title-header {
        display: block;
    }
}

@media screen and (max-width: 576px){
    .title-header {
        font-size: 40px;
        margin-top: -200px;
        margin-bottom: 80px;
    }
}

.text-header p{
    margin: 20px 0;
    padding: 0 10px;
    text-align: center;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 1px;
}

@media screen and (max-width: 576px){
    .text-header p{
        margin-top: 0;
        padding: 0 10px;
        font-size: 16px;
        line-height: 28px;
    }
}

.text-header button {
    display: block;
    margin: 0 auto;
    padding: 15px 30px;
    border: none;
    font-size: 1.3em;
    font-weight: bold;
    color: #fff;
    border: 1px inset var(--sec1);
    background: linear-gradient(to right, transparent 50%, var(--sec1) 50%);
    background-size: 201%;
    background-position: left;
    transition: background-position 0.5s;
}

.text-header button:hover {
    transition: color, 0.5s;
    background-position: right;
    color: #000;
}

.slider {
    color: var(--sec1);
    margin-left: 12px;
    animation: slider 6s linear infinite;
    box-sizing: border-box;
    text-align: left;
}

@media screen and (max-width: 768px){
    .slider {
        text-align: center;
    }
}

.destack-banner {
    font-weight: 900;
    color: var(--sec1);
    letter-spacing: 3px;
}

.teste {
    font-size: 64px;
    font-family: 'Newsreader', serif;
    line-height: 100px;
    height: 100px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@media screen and (max-width: 768px){
    .teste {
        margin-top: -20px;
    }
}

@media screen and (max-width: 576px){
    .teste {
        font-size: 40px;
        margin-top: -30px;
    }
}

@keyframes slider {
    0% { margin-top: -400px;}
    5% { margin-top: -200px;}
    30% { margin-top: -200px;}
    35% { margin-top: 0px;}
    65% { margin-top: 0px;}
    70% { margin-top: 200px;}
    100% { margin-top: 200px;}
}

.menuBtn {
    width: 50px;
    height: 50px;
    background-color: var(--pri1);
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 10;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 768px){
    .menuBtn {
        display: block;
    }
}

@media screen and (max-width: 576px){
    .menuBtn {
        width: 40px;
        height: 40px;
        right: 10px;
    }
}

.menuBtn img {
    width: 20px;
    margin-top: 15px;
}

@media screen and (max-width: 576px){
    .menuBtn img {
        margin-top: 10px;
    }
}

section {
    text-align: justify;
    padding: 20px;
}

@media screen and (max-width: 768px){
    

    

    

    
    
    
    

    

}

@media screen and (max-width: 576px){
    
    
    

    
    

    .text-header p{
        margin-top: 0;
        padding: 0 10px;
        font-size: 16px;
        line-height: 28px;
    }
}
