/*********************************************************************/
/**************************** General Formats ************************/
/*********************************************************************/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    background-color: #FFFFFF;
}

p {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
}

.clear{
    clear: both;
}
/*********************************************************************/
/***************************** Topo Formats **************************/
/*********************************************************************/

#container-topo, #container-footer{
    max-width: 1080px;
    margin: auto;
}
#topo{
    width: 100%;
    background-image: linear-gradient(114deg, #5202e8, #7300d1);
    color: #FFFFFF;
}

header h1{
    font-weight: 800;
}

#menu-topo ul{
    list-style: none;
    float: right;
    margin: 20px;
    margin-right: 0;
}

#menu-topo li{
    float: left;
    padding: 10px;
    padding-right: 20px;
}

#menu-topo a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 1.2em;
}

#menu-topo a:hover,
body#home #menu-topo a#home,
body#servicos #menu-topo a#servicos,
body#perfil #menu-topo a#perfil,
body#contato #menu-topo a#contato{
    color: #5202e8;
    font-weight: 900;
    font-size: 1em;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 10px 20px;
}

body#home #menu-topo a#home,
body#servicos #menu-topo a#servicos,
body#perfil #menu-topo a#perfil,
body#contato #menu-topo a#contato{
    cursor: text;
}

#logo{
    float: left;
    margin: 20px;
    margin-left: 0;
    color: white;
}

#marketing-topo{
    clear: both;
    float: left;
    width: 400px;
    margin: 40px auto 20px auto;
}

#marketing-topo h1{
    font-size: 3em;
    margin-bottom: 40px;
}
#marketing-topo span{
    color: #E8DC02;
    font-weight: 900;
}
#marketing-topo p{
    font-size: 1.3em;
    margin-bottom: 40px;
    line-height: 32px;
}

#marketing-topo input{
    width: 400px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    border: none;
    font-size: 1.2em;
}

.send{
    background-color: #29CA29;
    opacity: 0.9;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 1.2em;
    cursor:pointer;
}
.send:hover{
box-shadow: 0 0 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
}

#marketing-topo-img{
    width: 45%;
    float: right;
    margin: 70px auto 20px auto;
    background-color: #FFFFFF;
    opacity: 0.8;
    padding: 10px;
    border-radius: 10px;
}
/*********************************************************************/
/************************** Principal Formats ************************/
/*********************************************************************/

main {
    width: 75%;
    margin: auto;
}


.item-principal {
    width: 100%;
    min-width: 480px;
    height: 400px;
    margin: 100px auto;
    border-radius: 5px;
}

.item-principal:hover {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
}

.item1 {
    background-image: url("../Images/web17.jpg") ;
    background-size: cover;
}
.item2 {
    background-image: url("../Images/web16.jpg");
    background-size: cover;
}
.item3 {
    background-image: url("../Images/web14.jpg");
    background-size: cover;
}

.principal-text {
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    padding: 10px;
    border-radius: 5px;
    width: 420px;
    color: #FFFFFF;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}

.principal-text h3 {
    margin: 20px;
    margin-left: 0;
    font-size: 3em;
}

.principal-text p {
    line-height: 28px;
}

.principal-text a {
    color:#E8DC02;
    text-decoration: none;
    
}
.principal-text a:hover {
    color: #FFFFFF;
    font-weight: 900;
    padding: 10px 20px;
    background-color: #E8DC02;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
}

.fa-whatsapp-square.fab {
    color: #34af23;
    font-size: 5em;
    position:fixed;
    bottom: 10px;
    right: 10px;
}

#perfil p {
    margin-bottom: 20px;
}

#perfil .item-principal {
    width: 100%;
    min-width: 480px;
    height: 400px;
    margin: 100px auto;
    border-radius: 5px;
}

#perfil .principal-text {
    float: right;
    width: 70%; 
    margin-right: 3%;
    background-color: rgba(0, 0, 0, 0.8);
}

#perfil h1 {
    margin-bottom: 20px;
}

#perfil .item1 {
    background-image: url("../Images/optical_fiber3.jpg");
}

#perfil .photo{
    display: inline-block;
    width: 20%;
    margin-top: 10%;
    margin-left: 3%;
}

#perfil img{
    border-radius: 5px;
    width: 100%;
}

/*********************************************************************/
/**************************** Footer Formats *************************/
/*********************************************************************/
footer{
    background-color: #545F6C;
    color: #06EEF5;
    padding: 20px;
}

#container-footer ul{
    list-style: none;
    text-align: center;
    margin-bottom: 20px;
}

#container-footer li{
    display: inline-block;
    margin: auto;
   
}

#container-footer a{
    text-decoration: none;
    color: #06EEF5;
    padding-bottom: 20px;
    font-weight: 800;
}

#container-footer img{
    width: 20px;
    padding-right: 5px;
    margin-bottom: -4%;
}

#info-footer{
    text-align: center;
}

#info-footer p{
    margin: 10px;
    font-size: 0.6em;
}

.fab {
    font-size: 2em;
}

/*********************************************************************/
/**************************** Media Queries **************************/
/*********************************************************************/
@media screen and (max-width: 1199px){
    #perfil .item-principal {
        height: 550px;
    }
}


@media screen and (max-width: 1024px){
    body {
        font-size: 1em;
    }
    #container-topo, #container-footer{
        width: 80%;
        margin: auto;
    }

    #menu-topo ul{
        margin: 10px;
    }
    #menu-topo a:hover,
    body#home #menu-topo a#home,
    body#servicos #menu-topo a#servicos,
    body#perfil #menu-topo a#perfil,
    body#contato #menu-topo a#contato{
        padding: 5px 5px;
    }

    #marketing-topo{
        display: inline-block;
        width: 90%;
        padding: 5%;
    }
    #marketing-topo input{
        width: 100%;
        font-size: 1em;
    }

    #marketing-topo-img{
        display:none;
    }

    #principal {
       margin: 10px auto;
       width: 80%;
    }

    .item-principal {
        width: 100%;
        margin: 20px auto;
    }

    .principal-text {
        width: 60%;

    }
    
}

@media screen and (max-width: 720px){
    body {
        font-size: 0.8em;
    }
    #container-topo, #container-footer{
        width: 90%;
       
    }
    #logo{
        width: 100%;
        margin: 20px auto;
        text-align: center;
    }
    #menu-topo ul{
        display: block;
        width: 90%;
        margin: auto;
    }

    #menu-topo li{
        float: left;
        padding: 10px;
        padding-left: 20px;
        width: 15%;
    }
    #principal {
       width: 90%;
    }

    .item-principal {
        position: static;
        width: 100%;
        min-width: 100%;
        height: 400px;
        margin: 30px auto;
    }

    .principal-text {
        width: 80%;
        left: 5%;
        font-size: 0.8em;
    }

    #perfil .principal-text {
        float: right;
        width: 60%; 
        margin-right: 10%;
    }
    
}

@media screen and (max-width: 420px){
   
    #menu-topo ul{
        width: 100%;
    }

    #menu-topo li{
        padding-left: 10px;
    }

    #principal {
       margin: 10px auto;
       width: 300px;
    }

    .item-principal {
        height: 300px;
    }

    .principal-text {
        width: 80%;
        left: 5%;
    }
    
}

/*********************************************************************/
