/*********************************************************************/
/**************************** General Formats ************************/
/*********************************************************************/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    background-color: #FFFFFF;
}

p {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
}

.clear{
    clear: both;
}
/*********************************************************************/
/***************************** Topo Formats **************************/
/*********************************************************************/

#container-topo, #container-footer{
    max-width: 800px;
    margin: auto;
}
#topo{
    width: 100%;
    
    background-image: linear-gradient(114deg, #5202e8, #7300d1);
    color: #FFFFFF;
}

header h1{
    font-weight: 800;
}

#menu-topo ul{
    list-style: none;
    float: right;
    margin: 20px;
    margin-right: 0;
}

#menu-topo li{
    float: left;
    padding: 10px;
    padding-right: 20px;
}

#menu-topo a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 1.2em;
}

#menu-topo a:hover{
    color: #5202e8;
    font-weight: 900;
    font-size: 1em;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 10px 20px;
}

#logo{
    float: left;
    margin: 20px;
    margin-left: 0;
    color: white;
}

#marketing-topo{
    clear: both;
    float: left;
    width: 400px;
    margin: 40px auto 20px auto;
}

#marketing-topo h1{
    font-size: 3em;
    margin-bottom: 40px;
}
#marketing-topo span{
    color: #E8DC02;
    font-weight: 900;
}
#marketing-topo p{
    font-size: 1.3em;
    margin-bottom: 40px;
    line-height: 32px;
}

#marketing-topo input{
    width: 400px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    border: none;
}

.send{
    background-color: #29CA29;
    opacity: 0.9;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 1.2em;
    cursor:pointer;
}
.send:hover{
box-shadow: 0 0 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
}

#marketing-topo-img{
    width: 45%;
    float: right;
    margin: 110px auto 20px auto;
    background-color: #FFFFFF;
    opacity: 0.8;
    padding: 10px;
    border-radius: 10px;
}
/*********************************************************************/
/************************** Principal Formats ************************/
/*********************************************************************/
#principal{
    padding-top: 20px;
    padding-bottom: 20px;
    color: #545F6C;
    background-color: #eee;
    max-width: 800px;
    margin: 50px auto;
}

#principal h2 {
    text-align: center;
    font-size: 2em;
    margin: 10px 20px 50px 20px;
}

.text-section {
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
}

.text-section h3 {
    font-size: 1.6em;
    text-align: center;
    margin: 30px 0;
}

.text-section p {
    text-indent: 35px;
    line-height: 2.5em;
    font-size: 1.1em;
    text-align: justify;
    letter-spacing: 1px;
    margin-bottom: 2.5em;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 18px;
  left: 2.5%;
  width: 95%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2); 
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.mySlides img {
    border: 15px solid #CCCC;
    margin: 0;
}

/*********************************************************************/
/**************************** Inform Formats *************************/
/*********************************************************************/
#inform{
    background-color: #06EEF5;
    max-width: 800px;
    margin: 50px auto;
}

.card-technology{
    width: 370px;
    margin: 15px;
    float: left;
    background-color: #FFFFFF;
    border: 15px solid #CCCC;
    border-radius: 10px;
}




/*********************************************************************/
/**************************** Footer Formats *************************/
/*********************************************************************/
footer{
    background-color: #545F6C;
    color: #06EEF5;
    
    padding: 20px;
}

#container-footer ul{
    list-style: none;
    text-align: center;
    margin-bottom: 20px;
}

#container-footer li{
    display: inline-block;
    margin: auto;
   
}

#container-footer a{
    text-decoration: none;
    color: #06EEF5;
    padding-bottom: 20px;
    font-weight: 800;
}

#container-footer img{
    width: 20px;
    padding-right: 5px;
    margin-bottom: -4%;
}

#info-footer{
    text-align: center;
}

#info-footer p{
    margin: 10px;
    font-size: 0.6em;
}

.fab {
    font-size: 2em;
}

/*********************************************************************/
